/* CSS MODULES */
/* It is a CSS file in which all class names and animation names are scoped 
locally by default. The key words here are scoped locally. With CSS Modules, your css
class names become similar to local variables in JS. A CSS Module goes into
the computer, and CSS comes out the other side. 

WE CAN HAVE THE SAME CLASSES NAMES in every component, they will not 
collide with one another because CSS module will refer to a specific className only.
*/

/* What is the point of the CSS MODULES IN REACTJS? 
In large web apps, naming classes can be challenging and conflicts are not only possible, 
but probably, if you're not careful enough. 

*/

.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px grey;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

